/* DotGothic16 */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/* Play */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Play:wght@400;700&display=swap");
:root {
  --color-1: #ffffff;
  --color-2: #c3c3c3;
  --color-3: #f4625d;
  --color-4: #2c2c2f;
  --color-5: #5B5B5B;
  --color-modal: hsla(0, 0%, 0%, 0.8);
  --shadow-1: rgba(28, 21, 21, 0.6) 0px 3px 10px;
  --shadow-2: rgba(0, 0, 0, 0.8) 1.95px 1.95px 2.6px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Play;
  scroll-behavior: smooth;
}

body {
  background: var(--color-1);
  text-align: center;
  gap: 2vh;
  margin-top: 2vh;
  margin-bottom: 10vh;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.displayNone {
  display: none;
}

.display {
  display: flex;
}

button {
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  border-width: 1px;
}

h1 {
  margin: 30px;
}

#select #selectPokemon {
  height: 3vh;
}

#pokedex {
  background: var(--color-3);
  width: 80vw;
  max-width: 500px;
  aspect-ratio: 3/4;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: var(--shadow-1);
}
#pokedex #pokedexHeader {
  width: 100%;
  height: 10vh;
  background-color: var(--color-3);
  position: relative;
  border-radius: 30px;
  display: flex;
}
#pokedex #pokedexHeader .headerLeft {
  flex: 0 0 auto;
  height: 100%;
}
#pokedex #pokedexHeader .headerRight {
  flex: 1 1 auto;
}
#pokedex #screen {
  width: 80%;
  aspect-ratio: 1/1;
  color: var(--color-1);
  background: var(--color-4);
  border: solid 15px var(--color-2);
  border-radius: 10px;
  margin-top: 2vh;
  padding: 20px;
  gap: 10px;
}
#pokedex #screen div #pokemonImg {
  width: 50%;
}
#pokedex #screen div #description {
  text-align: left;
}
#pokedex #screen #status {
  width: 100%;
}
#pokedex #screen #status div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#pokedex #screen #status div progress {
  width: 60%;
}
#pokedex .buttons {
  padding: 50px;
  width: 100%;
  justify-content: space-between;
}
#pokedex .buttons #addToBattleList {
  width: 50%;
  height: 6vh;
  background-color: var(--color-5);
  border-radius: 20px;
  font-size: large;
  font-weight: bold;
}
#pokedex .buttons #addToBattleList a {
  color: var(--color-1);
  text-decoration: none;
}
#pokedex .buttons img {
  height: 10vh;
}

#battleListDiv {
  width: 80%;
  justify-content: space-around;
  background-image: url(./img/field.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 100%;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}
#battleListDiv div {
  width: 40%;
  margin-top: 5vh;
  font-weight: bold;
  font-size: larger;
}
#battleListDiv div img {
  width: 100%;
  margin-bottom: 3vh;
}
#battleListDiv div button {
  padding: 5px;
  border: none;
}

#compare {
  width: 80%;
  gap: 10px;
}
#compare #compareStatus {
  width: 100%;
}
#compare #compareStatus div span:first-child {
  width: 40%;
  text-align: right;
}
#compare #compareStatus div span:last-child {
  width: 60%;
  text-align: left;
}

#battle {
  width: 100%;
  margin-top: 5vh;
}
#battle #battleField {
  width: 100%;
}
#battle #battleField .playerDiv {
  width: 80%;
  align-items: flex-start;
  justify-content: space-between;
}
#battle #battleField .playerDiv .playerStatus {
  width: 40%;
}
#battle #battleField .playerDiv .playerStatus progress {
  width: 100%;
}
#battle #battleField .playerDiv .playerImg {
  width: 40%;
}
#battle #battleField .playerDiv:nth-child(2) {
  flex-direction: row-reverse;
  align-items: flex-end;
  position: relative;
  top: -5vh;
}
#battle #commentField {
  margin-top: 20px;
  width: 80%;
  aspect-ratio: 3/1;
  justify-content: space-around;
  border: 5px double var(--color-4);
  border-radius: 5px;
}
#battle #commentField #attackBtns {
  width: 80%;
  justify-content: space-around;
  margin: 30px;
}

.attacked {
  animation: blink 0.2s step-end 3 forwards;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.opacity50 {
  opacity: 50%;
}/*# sourceMappingURL=style.css.map */