@charset "UTF-8";
/* DotGothic16 */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/* Play */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Play:wght@400;700&display=swap");
:root {
  --color-1: #ffffff;
  --color-2: #c3c3c3;
  --color-3: #f4625d;
  --color-4: #2c2c2f;
  --color-5: #5B5B5B;
  --color-6: #000000;
  --color-7: #74a7ff;
  --color-8: #338BB0;
  --color-9: #FFC225;
  --color-modal: hsla(0, 0%, 0%, 0.8);
  --shadow-1: rgba(28, 21, 21, 0.6) 0px 3px 10px;
  --shadow-2: rgba(0, 0, 0, 0.8) 1.95px 1.95px 2.6px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Play;
  scroll-behavior: smooth;
}

body {
  background: var(--color-1);
  text-align: center;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.displayNone {
  display: none;
}

.display {
  display: flex;
}

button {
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  border-width: 1px;
}

h1 {
  margin: 30px;
}

#firstStage #pokedexes {
  gap: 10px;
}
#firstStage #pokedexes #select {
  margin-top: 5vh;
}
#firstStage #pokedexes #select #selectPokemon {
  height: 3vh;
}
#firstStage #pokedexes #pokedex {
  background: var(--color-3);
  width: 80vw;
  max-width: 500px;
  aspect-ratio: 3/4;
  justify-content: space-between;
  border-radius: 30px;
  box-shadow: var(--shadow-1);
}
#firstStage #pokedexes #pokedex #pokedexHeader {
  width: 100%;
  height: 10vh;
  background-color: var(--color-3);
  position: relative;
  border-radius: 30px;
  display: flex;
}
#firstStage #pokedexes #pokedex #pokedexHeader .headerLeft {
  flex: 0 0 auto;
  height: 100%;
}
#firstStage #pokedexes #pokedex #pokedexHeader .headerRight {
  flex: 1 1 auto;
}
#firstStage #pokedexes #pokedex #screen {
  width: 80%;
  aspect-ratio: 1/1;
  color: var(--color-1);
  background: var(--color-4);
  border: solid 15px var(--color-2);
  border-radius: 10px;
  margin-top: 2vh;
  padding: 20px;
  gap: 10px;
}
#firstStage #pokedexes #pokedex #screen div #pokemonImg {
  width: 50%;
}
#firstStage #pokedexes #pokedex #screen div #description {
  text-align: left;
}
#firstStage #pokedexes #pokedex #screen #status {
  width: 100%;
}
#firstStage #pokedexes #pokedex #screen #status div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#firstStage #pokedexes #pokedex #screen #status div progress {
  width: 60%;
}
#firstStage #pokedexes #pokedex .buttons {
  padding: 50px;
  width: 100%;
  justify-content: space-between;
}
#firstStage #pokedexes #pokedex .buttons #addToBattleList {
  width: 50%;
  height: 6vh;
  background-color: var(--color-5);
  border-radius: 20px;
  font-size: large;
  font-weight: bold;
}
#firstStage #pokedexes #pokedex .buttons #addToBattleList a {
  color: var(--color-1);
  text-decoration: none;
}
#firstStage #pokedexes #pokedex .buttons img {
  height: 10vh;
}
#firstStage #bench {
  gap: 2vh;
}
#firstStage #bench #battleListDiv {
  width: 80%;
  justify-content: space-around;
  background-image: url(./img/field.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 100%;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}
#firstStage #bench #battleListDiv div {
  width: 40%;
  margin-top: 5vh;
  font-weight: bold;
  font-size: larger;
}
#firstStage #bench #battleListDiv div img {
  width: 100%;
  margin-bottom: 3vh;
}
#firstStage #bench #battleListDiv div button {
  padding: 5px;
  border: none;
}
#firstStage #bench #compare {
  width: 80%;
  gap: 10px;
}
#firstStage #bench #compare #compareStatus {
  width: 100%;
}
#firstStage #bench #compare #compareStatus div span:first-child {
  width: 40%;
  text-align: right;
}
#firstStage #bench #compare #compareStatus div span:last-child {
  width: 60%;
  text-align: left;
}
#firstStage #bench #startBattleBtn {
  margin-bottom: 5vh;
}
#firstStage #bench #startBattleBtn a {
  color: var(--color-6);
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
}

#battle {
  width: 100%;
  height: 100vh;
  top: 0;
}
#battle #battleField {
  width: 100%;
}
#battle #battleField .playerDiv {
  width: 80%;
  align-items: flex-start;
  justify-content: space-between;
}
#battle #battleField .playerDiv .playerStatus {
  width: 50%;
  gap: 5px;
}
#battle #battleField .playerDiv .playerStatus progress {
  width: 100%;
  height: 15px;
  border: solid 1px var(--color-2);
  border-radius: 50px;
  -webkit-appearance: none; /* プログレスバーのスタイルをリセット */
  -moz-appearance: none; /* プログレスバーのスタイルをリセット */
  background-color: var(--color-2); /* プログレスバーの背景色/-moz- 用 */
}
#battle #battleField .playerDiv .playerImg {
  width: 40%;
}
#battle #battleField .playerDiv:nth-child(2) {
  flex-direction: row-reverse;
  align-items: flex-end;
  position: relative;
  top: -5vh;
}
#battle #battleField .playerDiv:nth-child(2) .playerStatus {
  margin-bottom: 1.5vh;
}
#battle #commentField {
  width: 80%;
  aspect-ratio: 3/1;
  justify-content: space-around;
  border: 5px double var(--color-4);
  border-radius: 5px;
}
#battle #commentField #attackBtns {
  width: 80%;
  justify-content: space-around;
  margin: 30px;
}

.attacked {
  animation: blink 0.2s step-end 3 forwards;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lost {
  opacity: 40%;
}

.slideinLeft {
  animation: slideinLeft 2s;
}
@keyframes slideinLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

.slideinRight {
  animation: slideinRight 2s;
}
@keyframes slideinRight {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

/* Tablet */
@media screen and (min-width: 768px) {
  #firstStage {
    flex-direction: row;
    align-items: start;
  }
  #firstStage #pokedexes {
    margin-left: 30px;
  }
  #firstStage #pokedexes #pokedex {
    width: 40vw;
    max-width: 500px;
  }
  #firstStage #bench {
    padding-top: 20vh;
    width: 50vw;
  }
  #battle {
    margin-top: 8vh;
  }
  #battle #battleField {
    margin-bottom: -3vh;
  }
  #battle #battleField .playerDiv {
    background-color: transparent;
  }
  #battle #battleField .playerDiv .playerStatus progress {
    height: 32px;
  }
  #battle #battleField .playerDiv .playerImg {
    max-width: 300px;
    max-height: 300px;
  }
  #battle #battleField .playerDiv:nth-child(2) {
    top: -10vh;
  }
  #battle #commentField {
    width: 80%;
    justify-content: flex-start;
    aspect-ratio: auto;
  }
  #battle #commentField #comment {
    margin: 10px;
  }
}
/*- moz- 用 */
progress.red::-moz-progress-bar {
  background-color: var(--color-3);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

progress.yellow::-moz-progress-bar {
  background-color: var(--color-9);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

progress.blue::-moz-progress-bar {
  background-color: var(--color-7);
  border-radius: 50px;
}

/*- webkit- 用 */
::-webkit-progress-bar {
  background-color: var(--color-1);
  border-radius: 50px;
}

progress.red::-webkit-progress-value {
  background-color: var(--color-3);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

progress.yellow::-webkit-progress-value {
  background-color: var(--color-9);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

progress.blue::-webkit-progress-value {
  background-color: var(--color-7);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

progress.start::-webkit-progress-value {
  background-color: var(--color-7);
  border-radius: 50px;
}/*# sourceMappingURL=style.css.map */