/* DotGothic16 */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
/* Play */
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Play:wght@400;700&display=swap");

:root {
    --color-1: #ffffff;
    --color-2: #c3c3c3;
    --color-3: #f4625d;
    --color-4: #2c2c2f;
    --color-5: #000000;
    --color-modal: hsla(0, 0%, 0%, 0.8);
    --shadow-1: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --shadow-2: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Play;
}
  
body {
    background: var(--color-1);
    text-align: center;
    gap: 20px;
    padding-top: 5vh;
}
  
.flex {
    display: flex;
}
  
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;}
  
.displayNone {
    display: none;
}
.display {
    display: flex;
}

button{
    padding: 3px;
}

h1{
    margin: 30px;
}

#pokedex{
    background: var(--color-3);
    width: 80vw;
    max-width: 500px;
    aspect-ratio: 3 / 4;
    border-radius: 30px;
    justify-content: space-between;

    #pokedexHeader{
        width: 100%;
        height: 10vh;
        background-color: var(--color-3);
        position: relative;
        border-radius: 30px;
        display: flex;

        .headerLeft{
            flex: 0 0 auto; 
            height: 100%;
        }
        .headerRight{
            flex: 1 1 auto;
        }
    }
    #screen{
        width: 80%;
        aspect-ratio: 1 / 1;
        color: var(--color-1);
        background: var(--color-4);
        border: solid 15px var(--color-2);
        border-radius: 10px;
        margin-top: 2vh;
        padding: 20px;
        gap: 10px;
        div{
            #pokemonImg{
                width: 50%;
            }
            #description{
                text-align: left;
            }
        }
        #status{
            width: 100%;
            div{
                width: 100%;
                display: flex;
                justify-content: space-between;
                label{
                }
                progress{
                    width: 60%;
                }
            }
        }
    }
    .buttons{
        padding: 50px;
        width: 80%;
        justify-content: space-between;
    }
}

#battleListDiv{
    width: 80%;
    justify-content: space-around;
    div {
        width: 40%;
        img{
            width: 100%;
            // min-width: 100px;
        }
    }
}

#compare{
    width: 80%;
    #compareBtn{
    }
    #compareStatus{
        width: 100%;
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 15px;
            span:first-child{
                width: 40%;
                text-align: center;
            }
            span:last-child{
                width: 60%;
                text-align: left;
            }
        }
    }
}

#battle{
    width: 100%;
    #battleField{
        width: 100%;
        .playerDiv{
            width: 80%;
            align-items: flex-start;
            justify-content: space-between;
            .playerStatus{
                width: 50%;
            }
            .playerImg{
                width: 30%;
            }
        }
        .playerDiv:nth-child(2) {
            flex-direction: row-reverse;
            align-items: flex-end;
        }
    }
    #comment{
        margin-top: 20px;
        width: 80%;
        aspect-ratio: 3 / 1;
        justify-content: space-around;
        border: 5px double var(--color-4);
        border-radius: 5px;
        p{            
        }
        #attackBtns{
            width: 80%;
            justify-content: space-around;
        }
    }
}