body{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

progress {
  width: 30%;
  height: 3vh;
  -webkit-appearance: none; /* プログレスバーのスタイルをリセット */
  -moz-appearance: none; /* プログレスバーのスタイルをリセット */
  background-color: lightgray; /* プログレスバーの背景色/-moz- 用 */
}

/*- moz- 用 */
progress.red::-moz-progress-bar {
  background-color: red;
}

progress.yellow::-moz-progress-bar {
  background-color: yellow;
}

progress.blue::-moz-progress-bar {
  background-color: blue;
}

/*- webkit- 用 */
::-webkit-progress-bar {
  background-color: lightgray;
}

progress.red::-webkit-progress-value {
  background-color: red;
}

progress.yellow::-webkit-progress-value {
  background-color: yellow;
}

progress.blue::-webkit-progress-value {
  background-color: blue;
}